<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      
     
      
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <h4>参加解除</h4>
          <!--<span class="fa fa-heart like-btn-unlike"></span>-->
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <p><strong>参加！</strong></p>
          <!--<span class="fa fa-heart like-btn"></span>-->
        <% end %>
      <% end %>
      <h5>↓参加希望者</h5>
      <% @likes.each do |like|%>
       <%= like.user_name %>
      <% end %>
      
    <hr>
      <div class="comment-wrapper border-top　mb-10">
        
        <p class="mt-5">コメント一覧</p>
        
        <% @comments.each do |comment|%>
        <div>
        <%= comment.content %>
        </div>
        <% end %>
        
        
        <div class="container">            
          <%= form_tag("/comments/#{@post.id}/create", {method: "post"}) do %>            
            <div class="form">            
              <div class="form-body">            
              <% @post.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
              <% end %>
              <textarea name="content"></textarea>          
                <input type="submit" value="コメント">            
              </div>            
             </div>            
          <% end %>            
         </div>            
      </div>
      
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>